In [1]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [7]:

#we can combine strings and numbers by using f-strings or the format()  using f key word in front of string
txt = f"my name is john, and im {age}"
print(txt)

my name is john, and im 36

In [5]:
price = 60
txt = f" the price is {price} rupes"
print(txt)

 the price is 60 rupes

In [8]:
#Displaying the price with 2 decimals:
price = 60
txt = f" the price is {price:.2f} rupes"
print(txt)

 the price is 60.00 rupes

In [18]:
txt = f"The price is {20 * 5} rupes"
print(txt)

The price is 100 rupes

In [21]:
#escape character
txt = " im omkar studing in \"ise\" branch in aiet "
print(txt)

 im omkar studing in "ise" branch in aiet

In [16]:
#\' for ex
txt1 = 'it\'s me'
print(txt1)

# backslash
txt2 = "This will insert one \\ (backslash)."
print(txt2) 

      
# using \n for new line
txt3 = "Hello\nWorld!"
print(txt3) 

#\t for tab 
#\b for back space
#\ooo for octal value value  \110=H

it's me
This will insert one \ (backslash).
Hello
World!

In [24]:
print(10<9)#boolens
print(10==10)
print(2<3)

False
True
True

In [27]:
a = 100
b = 50

if a > b:
   print("a is grater then b")
else:
   print(" b is grater than a")
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.

a is grater then b

In [34]:
print(10+5)#Arithmetic operators
print(10-2)
print(10/2)
print(10//2)
print(10%2)
#Assignment operators
#x =5
#+ = 5 #same as  x=x+5
#<<5
#>>5
#Comparison operators
#==
#!=
#<
#>

#Logical operators(and if both are ture, or atlist one is true , not revrse the result)
#Identity operators(is isnot)
#Membership operators(in notin)
#Bitwise operators(& 	AND	Sets each bit to 1 if both bits are 1	x & y	,|	OR	Sets each bit to 1 if one of two bits is 1	x | y	,^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	,~	NOT	,<<	,>>

15
8
5.0
5
0