In [34]:
import warnings
warnings.filterwarnings("ignore")

In [35]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [36]:

#we can combine strings and numbers by using f-strings or the format()  using f key word in front of string
age = 30
txt = f"my name is john, and im {age}"
print(txt)

my name is john, and im 30

In [37]:
price = 60
txt = f" the price is {price} rupes"
print(txt)

 the price is 60 rupes

In [38]:
#Displaying the price with 2 decimals:
price = 60
txt = f" the price is {price:.2f} rupes"
print(txt)

 the price is 60.00 rupes

In [39]:
txt = f"The price is {20 * 5} rupes"
print(txt)

The price is 100 rupes

In [40]:
#escape character
txt = " im omkar studing in \"ise\" branch in aiet "
print(txt)

 im omkar studing in "ise" branch in aiet

In [41]:
#\' for ex
txt1 = 'it\'s me'
print(txt1)

# backslash
txt2 = "This will insert one \\ (backslash)."
print(txt2) 

      
# using \n for new line
txt3 = "Hello\nWorld!"
print(txt3) 

#\t for tab 
#\b for back space
#\ooo for octal value value  \110=H

it's me
This will insert one \ (backslash).
Hello
World!

In [42]:
print(10<9)#boolens
print(10==10)
print(2<3)

False
True
True

In [43]:
a = 100
b = 50

if a > b:
   print("a is grater then b")
else:
   print(" b is grater than a")
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.

a is grater then b

In [44]:
print(10+5)#Arithmetic operators
print(10-2)
print(10/2)
print(10//2)
print(10%2)
#Assignment operators
#x =5
#+ = 5 #same as  x=x+5
#<<5
#>>5
#Comparison operators
#==
#!=
#<
#>

#Logical operators(and if both are ture, or atlist one is true , not revrse the result)
#Identity operators(is isnot)
#Membership operators(in notin)
#Bitwise operators(& 	AND	Sets each bit to 1 if both bits are 1	x & y	,|	OR	Sets each bit to 1 if one of two bits is 1	x | y	,^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	,~	NOT	,<<	,>>

15
8
5.0
5
0

In [45]:
age=199
print(age)

199

In [46]:
#list      listb can be changeable we can add remove delete update etc
thislist = ["apple", "banana", "cherry"]
print(thislist)

#len() used to find the length of the list
print(len(thislist))

#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]
print(list1)

#There are four collection data types in the Python programming language:

#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.\


#access list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])#negative indexing from last
print(thislist[1:3])#range
print(thislist[-3:-1])# this starts from apple but not includes the cherry
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

thislist[1] = "mango"# changeing the list
print(thislist)

thislist.insert(2, "watermellon")#To insert a list item at a specified index,
print(thislist)

thislist.append("orange")#append used to  add the list item to the last
print(thislist)

anotherlist = ["kiwi", "jack", "jammoon"]
thislist.extend(anotherlist)#extend is used to append form another list we can add the tuple to list using this
print(thislist)

thislist.remove("jack")
print(thislist)

thislist.pop(1)# this pop() is used nto remove specific index
print(thislist)

del thislist # clear() also used to meptyt the list

['apple', 'banana', 'cherry']
3
['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'male']
banana
cherry
['banana', 'cherry']
['apple', 'banana']
Yes, 'apple' is in the fruits list
['apple', 'mango', 'cherry']
['apple', 'mango', 'watermellon', 'cherry']
['apple', 'mango', 'watermellon', 'cherry', 'orange']
['apple', 'mango', 'watermellon', 'cherry', 'orange', 'kiwi', 'jack', 'jammoon']
['apple', 'mango', 'watermellon', 'cherry', 'orange', 'kiwi', 'jammoon']
['apple', 'watermellon', 'cherry', 'orange', 'kiwi', 'jammoon']

In [47]:

#for loop 
thislist = ["apple", "banana", "cherry"]
for i in range(2):
  print(thislist[i])

#using while loop
i = 0
while i < 2:
  print(thislist[i])
  i = i + 1

apple
banana
apple
banana

In [48]:
#list comparistion
fruits = ["apple", "banana", "mango", "kiwi", "cherry"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [49]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [50]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)       #SORT()

[23, 50, 65, 82, 100]

In [51]:
fruits = ["apple", "banana", "orange", "pineapple"] # to arrenge in desending order
fruits.sort(reverse = True)
print(fruits)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'banana', 'apple']
[100, 82, 65, 50, 23]

In [52]:
def myfunc(n):
    return abs(n - 50)   # this is used to sort the nearst to the 50 useng function

thislist = [100, 50, 40, 45, 60]
thislist.sort(key = myfunc)
print(thislist)

[50, 45, 40, 60, 100]

In [53]:
thislist = ["apple", "banana", "ornage"]
mylist = thislist.copy()
print(mylist)

#we can use list() in replace of copy() keyword
mylist = list(thislist)
print(mylist)

# also slice operation[:]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'ornage']
['apple', 'banana', 'ornage']
['apple', 'banana', 'ornage']

In [54]:
list1 = ["a", "b", "c" ]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)


#another way to add two list
for x in list2:
    list1.append(x)

print(list1)




#extend() can alson add two list
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [55]:
#tuple is another builtin data types in python
#they are ordered unchangeble and allows duplicate values they represent in parenthesis

thistuple = ("apple", "banana", "cherry")
print(thistuple)


# allows duplicate values
thistuple = ("a", "b", "c", "a")
print(thistuple)

('apple', 'banana', 'cherry')
('a', 'b', 'c', 'a')

In [56]:
thistuple = ("apple",)#without , u will gwtt str
print(type(thistuple)) 

#it is also possinble to contruct tuple by tuplr() key word 
thistuple = tuple(("a", "b", "c"))#double bracket
print(thistuple)

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])#access

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])#negative index

thistuple = ("apple", "banana", "cherry")
print(thistuple[1:3])#range

#negative range 
print(thistuple[-3:1])

<class 'tuple'>
('a', 'b', 'c')
banana
cherry
('banana', 'cherry')
('apple',)

In [57]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)  #convert the tuple into list and chnage that into tuple back

print(x)

('apple', 'kiwi', 'cherry')

In [58]:
thistuple = ("apple", "orange", "banana")# convrting tuple into list and append and change to tuple again
y = list(thistuple)
y.append("cherry")
thistuple = tuple(y)
print(y)

['apple', 'orange', 'banana', 'cherry']

In [59]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)   #tuple +tuple

('apple', 'banana', 'cherry', 'orange')

In [60]:
fruits = ("apple", "banana", "cherry", "orange")

(green, yellow, *red) = fruits # using asterrisk * when the variable is less the the values the * creates them inton list
                                  
print(yellow)
print(green)
print(red)

banana
apple
['cherry', 'orange']

In [61]:
#we can multiply the tuple 
fruits = ("a", "b", "c")
mytuple = fruits * 3

print(mytuple)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')